<style>
.img-responsive{
	max-height: 16em;
}
.date-news{
	color:grey;
}
.panel-control{
	right: 1.1em;
    position: absolute;
    top: 0em;
}
button.editar-noticia{
    border: none;
    background: darkseagreen;
}
.row{
	padding-left: 3em;
	padding-right: 3em;
}
#agregar-noticia{
	border: none;
    background: thistle;
    height: 3em;
    width: 12em;
    margin-bottom: 3em;
    margin-top: 1em;
}
button#editarFeedController{
	border: none;
    height: 4em;
    width: 14em;
    background: lightgreen;
    font-size: 1.2em;
    margin-right: 1em;
}
button#borrarFeedController{
	border: none;
    height: 4em;
    width: 14em;
    background: indianred;
    font-size: 1.2em;
    margin-right: 1em;
}
button#volver{
	border: none;
    height: 4em;
    width: 14em;
    background: dodgerblue;
    font-size: 1.2em;
    margin-right: 1em;
	
}
button#crearFeedController{
	border: none;
    height: 4em;
    width: 14em;
    background: thistle;
    font-size: 1.2em;
    margin-right: 1em;
}
.noticia{
	height: 40em;
}
</style>